{% extends 'base.html.twig' %}

{% block title %}New Pvinternes{% endblock %}

{% block body %}
    <h1>Create new Pvinternes</h1>

    {{ include('pvinternes/_form.html.twig') }}

    <a href="{{ path('pvinternes_index') }}">back to list</a>
{% endblock %}
