<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="metaviewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>

{% include 'navbar.html.twig' %}
<body>
{% block body %}
{% endblock %}


</body>

{% include 'footerstick.html.twig' %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




{% endblock %}
</html>