{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
{% endblock %}
<footer class="site-footer container-fluid  py-3 ">

    <div class="text-center ">
        <p class="copyright-text">(c) Orange - 2021</p>
    </div>
</footer>