
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
{% endblock %}
<div class=" container-fluid bg-black nav-bar">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-4 " class="img-fluid">
                <img src="/photo/logo_orange.jpg "  width="15%" height="15%"></img>
            </div>
            <div class="col-4 text-center">
                <h3 class="text-white" >OSP</h3>
            </div>

            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if is_granted('ROLE_USER') %}
                <div class="btn-group">
                    <div class="btn-group dropleft" role="group">
                        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/projet/">Projets</a>
                            <a class="dropdown-item" href="/projet/new">Ajouter un projet</a>
                            <a class="dropdown-item" href="#">Bilan mensuel</a>
                            <a class="dropdown-item" href="#">Modalités</a>
                            <a class="dropdown-item" href="/fournisseur/liste">Fournisseur</a>
                            <a class="dropdown-item" href="#">Aide</a>
                            <a class="dropdown-item" href="#">FAQ</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>

        </div>

    </header>
</div>
